n8n/_result-onboarding.json
{"name":"Upwork WF1 - Onboarding Complete Handler","nodes":[{"parameters":{"httpMethod":"POST","path":"aixcel-onboarding-complete","responseMode":"onReceived","options":{}},"id":"webhook-onboarding","name":"Onboarding Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,400],"webhookId":"aixcel-onboarding-complete"},{"parameters":{"jsCode":"// Extract and validate onboarding webhook payload\nconst body = $input.first().json.body || $input.first().json;\n\nconst customer_id = body.customer_id;\nconst email = body.email;\nconst website = body.website;\nconst services = body.services;\nconst city = body.city;\nconst competitors = body.competitors;\nconst timestamp = body.timestamp;\nconst event = body.event;\n\n// Validation\nconst errors = [];\nif (!customer_id) errors.push('Missing customer_id');\nif (!email) errors.push('Missing email');\nif (email && !/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email)) errors.push('Invalid email format');\nif (!website) errors.push('Missing website');\nif (!services) errors.push('Missing services');\nif (!city) errors.push('Missing city');\nif (event !== 'onboarding_completed') errors.push(`Unexpected event: ${event}`);\n\n// Sanitize website URL\nlet cleanWebsite = website || '';\nif (cleanWebsite && !cleanWebsite.startsWith('http')) {\n  cleanWebsite = 'https://' + cleanWebsite;\n}\n\nreturn [{\n  json: {\n    customer_id: customer_id || null,\n    email: email ? email.toLowerCase().trim() : null,\n    website: cleanWebsite,\n    services: services || '',\n    city: city || '',\n    competitors: competitors || null,\n    timestamp: timestamp || new Date().toISOString(),\n    event: event || 'unknown',\n    is_valid: errors.length === 0,\n    validation_errors: errors,\n    received_at: new Date().toISOString()\n  }\n}];"},"id":"validate-onboarding","name":"Validate Onboarding Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"valid-check","leftValue":"={{ $json.is_valid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals","singleValue":true}}],"combinator":"and"},"options":{}},"id":"check-valid-onb","name":"Is Valid?","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,400]},{"parameters":{"url":"={{ $env.SUPABASE_URL }}/rest/v1/customers","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"eq.{{ $('Validate Onboarding Data').item.json.customer_id }}"},{"name":"select","value":"id,email,status"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"Bearer {{ $env.SUPABASE_SERVICE_KEY }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"verify-customer","name":"Verify Customer Exists","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,340]},{"parameters":{"jsCode":"// Check customer exists and status is valid for onboarding completion\nconst customers = $input.first().json;\nconst payload = $('Validate Onboarding Data').first().json;\n\nconst isArray = Array.isArray(customers);\nconst customer = isArray ? customers[0] : customers;\n\nif (!customer || (isArray && customers.length === 0)) {\n  return [{\n    json: {\n      ...payload,\n      customer_found: false,\n      can_complete: false,\n      reason: 'Customer not found in database'\n    }\n  }];\n}\n\n// Only allow onboarding completion if status is onboarding_sent or paid\nconst validStatuses = ['paid', 'onboarding_sent'];\nconst canComplete = validStatuses.includes(customer.status);\n\nreturn [{\n  json: {\n    ...payload,\n    customer_found: true,\n    can_complete: canComplete,\n    current_status: customer.status,\n    reason: canComplete ? 'ok' : `Cannot complete onboarding: status is already ${customer.status}`\n  }\n}];"},"id":"check-can-complete","name":"Check Status & Eligibility","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,340]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"can-complete","leftValue":"={{ $json.can_complete }}","rightValue":true,"operator":{"type":"boolean","operation":"equals","singleValue":true}}],"combinator":"and"},"options":{}},"id":"check-eligible","name":"Eligible?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1340,340]},{"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/customers","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"eq.{{ $('Validate Onboarding Data').item.json.customer_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"status\": \"ready_for_optimization\"\n}","options":{"response":{"response":{"neverError":true}}}},"id":"update-ready","name":"Update Status → ready_for_optimization","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,280]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"update-ok","leftValue":"={{ $json.statusCode || 200 }}","rightValue":300,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"id":"check-update-onb","name":"Update OK?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1780,280]},{"parameters":{"fromEmail":"={{ $env.FROM_EMAIL || 'hello@aixcelsolutions.com' }}","toEmail":"={{ $('Validate Onboarding Data').item.json.email }}","subject":"Onboarding Complete — We're Starting Your Optimization","emailType":"html","html":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin:0; padding:0; background-color:#0a0a0f; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;\">\n  <div style=\"max-width:560px; margin:0 auto; padding:40px 20px;\">\n    <div style=\"background:linear-gradient(180deg, rgba(16,185,129,0.1) 0%, rgba(6,182,212,0.05) 100%); border:1px solid rgba(255,255,255,0.1); border-radius:16px; padding:40px;\">\n      <h1 style=\"color:#ffffff; font-size:28px; font-weight:700; margin:0 0 8px;\">We're On It! 🚀</h1>\n      <p style=\"color:rgba(255,255,255,0.6); font-size:15px; line-height:1.6; margin:0 0 24px;\">Your onboarding is complete. Our team is now starting your AI visibility optimization.</p>\n      \n      <div style=\"background:rgba(255,255,255,0.04); border:1px solid rgba(255,255,255,0.08); border-radius:12px; padding:20px; margin-bottom:24px;\">\n        <p style=\"color:rgba(255,255,255,0.5); font-size:13px; margin:0 0 8px;\">What we received:</p>\n        <p style=\"color:#ffffff; font-size:14px; margin:0;\">Website: {{ $('Validate Onboarding Data').item.json.website }}</p>\n        <p style=\"color:#ffffff; font-size:14px; margin:4px 0 0;\">Services: {{ $('Validate Onboarding Data').item.json.services }}</p>\n        <p style=\"color:#ffffff; font-size:14px; margin:4px 0 0;\">City: {{ $('Validate Onboarding Data').item.json.city }}</p>\n      </div>\n      \n      <h2 style=\"color:#ffffff; font-size:18px; font-weight:600; margin:0 0 12px;\">What Happens Next</h2>\n      <div style=\"color:rgba(255,255,255,0.6); font-size:14px; line-height:1.8;\">\n        <p style=\"margin:0;\">1. We audit your current AI visibility (1-2 days)</p>\n        <p style=\"margin:0;\">2. We implement optimizations (3-5 days)</p>\n        <p style=\"margin:0;\">3. We submit to AI search engines (1-2 days)</p>\n        <p style=\"margin:0;\">4. You receive your full report (2-3 weeks total)</p>\n      </div>\n      \n      <p style=\"color:rgba(255,255,255,0.4); font-size:12px; margin:24px 0 0;\">We'll keep you updated at each step. Reply to this email if you have questions.</p>\n    </div>\n    <p style=\"color:rgba(255,255,255,0.3); font-size:11px; text-align:center; margin-top:16px;\">AiXCEL Solutions — AI Automation & Visibility</p>\n  </div>\n</body>\n</html>","options":{}},"id":"send-confirmation","name":"Send Confirmation Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2000,180],"credentials":{"smtp":{"id":"SMTP_CREDENTIAL_ID","name":"SMTP"}}},{"parameters":{"fromEmail":"={{ $env.FROM_EMAIL || 'hello@aixcelsolutions.com' }}","toEmail":"={{ $env.ADMIN_EMAIL || 'ahmadbukhari4245@gmail.com' }}","subject":"🔔 Customer Ready: {{ $('Validate Onboarding Data').item.json.website }}","emailType":"html","html":"<!DOCTYPE html>\n<html>\n<body style=\"font-family:-apple-system,sans-serif; padding:20px; background:#f9fafb;\">\n  <div style=\"max-width:500px; margin:0 auto; background:#fff; border-radius:12px; padding:24px; border:1px solid #e5e7eb;\">\n    <h2 style=\"margin:0 0 16px; color:#111;\">🟢 Customer Ready for Optimization</h2>\n    <table style=\"width:100%; border-collapse:collapse;\">\n      <tr><td style=\"padding:8px 0; color:#6b7280; border-bottom:1px solid #f3f4f6;\">Email</td><td style=\"padding:8px 0; font-weight:600; border-bottom:1px solid #f3f4f6;\">{{ $('Validate Onboarding Data').item.json.email }}</td></tr>\n      <tr><td style=\"padding:8px 0; color:#6b7280; border-bottom:1px solid #f3f4f6;\">Website</td><td style=\"padding:8px 0; border-bottom:1px solid #f3f4f6;\"><a href=\"{{ $('Validate Onboarding Data').item.json.website }}\">{{ $('Validate Onboarding Data').item.json.website }}</a></td></tr>\n      <tr><td style=\"padding:8px 0; color:#6b7280; border-bottom:1px solid #f3f4f6;\">Services</td><td style=\"padding:8px 0; border-bottom:1px solid #f3f4f6;\">{{ $('Validate Onboarding Data').item.json.services }}</td></tr>\n      <tr><td style=\"padding:8px 0; color:#6b7280; border-bottom:1px solid #f3f4f6;\">City</td><td style=\"padding:8px 0; border-bottom:1px solid #f3f4f6;\">{{ $('Validate Onboarding Data').item.json.city }}</td></tr>\n      <tr><td style=\"padding:8px 0; color:#6b7280; border-bottom:1px solid #f3f4f6;\">Competitors</td><td style=\"padding:8px 0; border-bottom:1px solid #f3f4f6;\">{{ $('Validate Onboarding Data').item.json.competitors || 'None provided' }}</td></tr>\n      <tr><td style=\"padding:8px 0; color:#6b7280; border-bottom:1px solid #f3f4f6;\">Customer ID</td><td style=\"padding:8px 0; font-family:monospace; font-size:12px; border-bottom:1px solid #f3f4f6;\">{{ $('Validate Onboarding Data').item.json.customer_id }}</td></tr>\n      <tr><td style=\"padding:8px 0; color:#6b7280;\">Status</td><td style=\"padding:8px 0;\"><span style=\"background:#d1fae5; color:#065f46; padding:2px 8px; border-radius:4px; font-size:12px;\">ready_for_optimization</span></td></tr>\n    </table>\n    <p style=\"margin:16px 0 0; color:#059669; font-weight:600;\">Action: Begin AI visibility audit for this customer.</p>\n  </div>\n</body>\n</html>","options":{}},"id":"notify-admin-ready","name":"Notify Admin: Customer Ready","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2000,380],"credentials":{"smtp":{"id":"SMTP_CREDENTIAL_ID","name":"SMTP"}}},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/audit_log","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"customer_id\": \"{{ $('Validate Onboarding Data').item.json.customer_id }}\",\n  \"event_type\": \"onboarding_completed\",\n  \"status_from\": \"{{ $('Check Status & Eligibility').item.json.current_status }}\",\n  \"status_to\": \"ready_for_optimization\",\n  \"details\": {{ JSON.stringify({ email: $('Validate Onboarding Data').item.json.email, website: $('Validate Onboarding Data').item.json.website, services: $('Validate Onboarding Data').item.json.services, city: $('Validate Onboarding Data').item.json.city, confirmation_sent: true, admin_notified: true }) }},\n  \"workflow_name\": \"onboarding-complete\"\n}","options":{"response":{"response":{"neverError":true}}}},"id":"log-onboarding-success","name":"Log: Onboarding Completed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2220,280]},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/audit_log","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"customer_id\": \"{{ $('Validate Onboarding Data').item.json.customer_id || 'unknown' }}\",\n  \"event_type\": \"onboarding_validation_failed\",\n  \"details\": {{ JSON.stringify({ errors: $('Validate Onboarding Data').item.json.validation_errors, email: $('Validate Onboarding Data').item.json.email }) }},\n  \"workflow_name\": \"onboarding-complete\"\n}","options":{"response":{"response":{"neverError":true}}}},"id":"log-onb-validation-fail","name":"Log: Validation Failed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,560]},{"parameters":{"fromEmail":"={{ $env.FROM_EMAIL || 'hello@aixcelsolutions.com' }}","toEmail":"={{ $env.ADMIN_EMAIL || 'ahmadbukhari4245@gmail.com' }}","subject":"⚠️ Onboarding Validation Failed","emailType":"html","html":"<!DOCTYPE html>\n<html>\n<body style=\"font-family:-apple-system,sans-serif; padding:20px;\">\n  <div style=\"max-width:500px; margin:0 auto; background:#fff; border-radius:12px; padding:24px; border:2px solid #fbbf24;\">\n    <h2 style=\"color:#92400e; margin:0 0 12px;\">⚠️ Onboarding Validation Failed</h2>\n    <p><strong>Errors:</strong></p>\n    <pre style=\"background:#fef3c7; padding:12px; border-radius:8px; font-size:13px;\">{{ $('Validate Onboarding Data').item.json.validation_errors.join('\\n') }}</pre>\n    <p><strong>Email:</strong> {{ $('Validate Onboarding Data').item.json.email || 'N/A' }}</p>\n    <p><strong>Customer ID:</strong> {{ $('Validate Onboarding Data').item.json.customer_id || 'N/A' }}</p>\n    <p style=\"color:#6b7280; font-size:12px;\">This onboarding submission was rejected. Customer may need to resubmit.</p>\n  </div>\n</body>\n</html>","options":{}},"id":"alert-onb-validation","name":"Alert Admin: Validation Failed","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1120,560],"credentials":{"smtp":{"id":"SMTP_CREDENTIAL_ID","name":"SMTP"}}},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/audit_log","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"customer_id\": \"{{ $('Validate Onboarding Data').item.json.customer_id }}\",\n  \"event_type\": \"onboarding_blocked\",\n  \"details\": {{ JSON.stringify({ reason: $('Check Status & Eligibility').item.json.reason, current_status: $('Check Status & Eligibility').item.json.current_status, customer_found: $('Check Status & Eligibility').item.json.customer_found }) }},\n  \"workflow_name\": \"onboarding-complete\"\n}","options":{"response":{"response":{"neverError":true}}}},"id":"log-onb-blocked","name":"Log: Onboarding Blocked","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,480]},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/audit_log","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"customer_id\": \"{{ $('Validate Onboarding Data').item.json.customer_id }}\",\n  \"event_type\": \"onboarding_status_update_failed\",\n  \"details\": {{ JSON.stringify({ email: $('Validate Onboarding Data').item.json.email, attempted_status: 'ready_for_optimization' }) }},\n  \"workflow_name\": \"onboarding-complete\"\n}","options":{"response":{"response":{"neverError":true}}}},"id":"log-onb-update-fail","name":"Log: Update Failed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,520]},{"parameters":{"fromEmail":"={{ $env.FROM_EMAIL || 'hello@aixcelsolutions.com' }}","toEmail":"={{ $env.ADMIN_EMAIL || 'ahmadbukhari4245@gmail.com' }}","subject":"🚨 Onboarding DB Update Failed for {{ $('Validate Onboarding Data').item.json.email }}","emailType":"html","html":"<!DOCTYPE html>\n<html>\n<body style=\"font-family:-apple-system,sans-serif; padding:20px;\">\n  <div style=\"max-width:500px; margin:0 auto; background:#fff; border-radius:12px; padding:24px; border:2px solid #ef4444;\">\n    <h2 style=\"color:#991b1b;\">🚨 Onboarding Status Update Failed</h2>\n    <p>Failed to update customer to <code>ready_for_optimization</code>.</p>\n    <p><strong>Email:</strong> {{ $('Validate Onboarding Data').item.json.email }}</p>\n    <p><strong>Website:</strong> {{ $('Validate Onboarding Data').item.json.website }}</p>\n    <p><strong>Customer ID:</strong> {{ $('Validate Onboarding Data').item.json.customer_id }}</p>\n    <p style=\"color:#6b7280; font-size:12px;\">Manual intervention required.</p>\n  </div>\n</body>\n</html>","options":{}},"id":"alert-onb-update-fail","name":"Alert Admin: Update Failed","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2220,520],"credentials":{"smtp":{"id":"SMTP_CREDENTIAL_ID","name":"SMTP"}}}],"connections":{"Onboarding Webhook":{"main":[[{"node":"Validate Onboarding Data","type":"main","index":0}]]},"Validate Onboarding Data":{"main":[[{"node":"Is Valid?","type":"main","index":0}]]},"Is Valid?":{"main":[[{"node":"Verify Customer Exists","type":"main","index":0}],[{"node":"Log: Validation Failed","type":"main","index":0}]]},"Verify Customer Exists":{"main":[[{"node":"Check Status & Eligibility","type":"main","index":0}]]},"Check Status & Eligibility":{"main":[[{"node":"Eligible?","type":"main","index":0}]]},"Eligible?":{"main":[[{"node":"Update Status → ready_for_optimization","type":"main","index":0}],[{"node":"Log: Onboarding Blocked","type":"main","index":0}]]},"Update Status → ready_for_optimization":{"main":[[{"node":"Update OK?","type":"main","index":0}]]},"Update OK?":{"main":[[{"node":"Send Confirmation Email","type":"main","index":0},{"node":"Notify Admin: Customer Ready","type":"main","index":0},{"node":"Log: Onboarding Completed","type":"main","index":0}],[{"node":"Log: Update Failed","type":"main","index":0}]]},"Log: Validation Failed":{"main":[[{"node":"Alert Admin: Validation Failed","type":"main","index":0}]]},"Log: Update Failed":{"main":[[{"node":"Alert Admin: Update Failed","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"active":false,"versionId":"cdaf7833-a682-45e7-8f31-cdb0eb0eb315","id":"gU0cMaK1JETYVlbB","description":null,"staticData":null,"meta":null,"pinData":null,"activeVersionId":null,"updatedAt":"2026-02-16T20:37:23.533Z","createdAt":"2026-02-16T20:37:23.533Z","isArchived":false,"versionCounter":1,"triggerCount":0}