n8n/_result-payment.json
{"name":"Upwork WF1 - Payment Success Handler","nodes":[{"parameters":{"httpMethod":"POST","path":"aixcel-payment-success","responseMode":"onReceived","options":{}},"id":"webhook-payment","name":"Payment Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,400],"webhookId":"aixcel-payment-success"},{"parameters":{"jsCode":"// Extract and validate incoming webhook payload\nconst body = $input.first().json.body || $input.first().json;\n\nconst customer_id = body.customer_id;\nconst email = body.email;\nconst amount = body.amount;\nconst timestamp = body.timestamp;\nconst event = body.event;\n\n// Validation checks\nconst errors = [];\n\nif (!customer_id) errors.push('Missing customer_id');\nif (!email) errors.push('Missing email');\nif (email && !/^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/.test(email)) errors.push('Invalid email format');\nif (!amount && amount !== 0) errors.push('Missing amount');\nif (event !== 'payment_success') errors.push(`Unexpected event type: ${event}`);\n\nreturn [{\n  json: {\n    customer_id: customer_id || null,\n    email: email ? email.toLowerCase().trim() : null,\n    amount: amount || 0,\n    timestamp: timestamp || new Date().toISOString(),\n    event: event || 'unknown',\n    is_valid: errors.length === 0,\n    validation_errors: errors,\n    received_at: new Date().toISOString()\n  }\n}];"},"id":"validate-payload","name":"Validate Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[460,400]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"valid-check","leftValue":"={{ $json.is_valid }}","rightValue":true,"operator":{"type":"boolean","operation":"equals","singleValue":true}}],"combinator":"and"},"options":{}},"id":"check-valid","name":"Is Valid?","type":"n8n-nodes-base.if","typeVersion":2,"position":[680,400]},{"parameters":{"url":"={{ $env.SUPABASE_URL }}/rest/v1/customers","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"eq.{{ $('Validate Payload').item.json.customer_id }}"},{"name":"select","value":"*"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"Bearer {{ $env.SUPABASE_SERVICE_KEY }}"}]},"options":{"response":{"response":{"neverError":true}}}},"id":"get-customer","name":"Get Customer from DB","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,340]},{"parameters":{"jsCode":"// Check if customer was found and check for duplicate processing\nconst customers = $input.first().json;\nconst payload = $('Validate Payload').first().json;\n\n// Supabase returns array — check if we got results\nconst isArray = Array.isArray(customers);\nconst customer = isArray ? customers[0] : customers;\n\nif (!customer || (isArray && customers.length === 0)) {\n  return [{\n    json: {\n      ...payload,\n      customer_found: false,\n      is_duplicate: false,\n      error: `Customer not found: ${payload.customer_id}`\n    }\n  }];\n}\n\n// Duplicate detection: if status is already beyond 'paid', this is a re-trigger\nconst alreadyProcessed = ['onboarding_sent', 'onboarding_completed', 'ready_for_optimization'].includes(customer.status);\n\nreturn [{\n  json: {\n    ...payload,\n    customer_found: true,\n    is_duplicate: alreadyProcessed,\n    current_status: customer.status,\n    customer_email: customer.email,\n    customer_name: customer.email.split('@')[0],\n    stripe_customer_id: customer.stripe_customer_id,\n    stripe_payment_intent_id: customer.stripe_payment_intent_id,\n    amount_paid_cents: customer.amount_paid,\n    created_at: customer.created_at\n  }\n}];"},"id":"check-customer","name":"Check Customer & Duplicates","type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,340]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"found-check","leftValue":"={{ $json.customer_found }}","rightValue":true,"operator":{"type":"boolean","operation":"equals","singleValue":true}},{"id":"not-duplicate","leftValue":"={{ $json.is_duplicate }}","rightValue":false,"operator":{"type":"boolean","operation":"equals","singleValue":true}}],"combinator":"and"},"options":{}},"id":"check-proceed","name":"Can Proceed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1340,340]},{"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/customers","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"eq.{{ $('Validate Payload').item.json.customer_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"status\": \"onboarding_sent\"\n}","options":{"response":{"response":{"neverError":true}}}},"id":"update-status","name":"Update Status → onboarding_sent","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,280]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"update-ok","leftValue":"={{ $json.statusCode || 200 }}","rightValue":300,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"id":"check-update","name":"Update OK?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1780,280]},{"parameters":{"fromEmail":"={{ $env.FROM_EMAIL || 'hello@aixcelsolutions.com' }}","toEmail":"={{ $('Validate Payload').item.json.email }}","subject":"Welcome to AiXCEL — Complete Your Onboarding","emailType":"html","html":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin:0; padding:0; background-color:#0a0a0f; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;\">\n  <div style=\"max-width:560px; margin:0 auto; padding:40px 20px;\">\n    <div style=\"background:linear-gradient(180deg, rgba(59,130,246,0.1) 0%, rgba(6,182,212,0.05) 100%); border:1px solid rgba(255,255,255,0.1); border-radius:16px; padding:40px;\">\n      <h1 style=\"color:#ffffff; font-size:28px; font-weight:700; margin:0 0 8px;\">Payment Received! ✓</h1>\n      <p style=\"color:rgba(255,255,255,0.6); font-size:15px; line-height:1.6; margin:0 0 24px;\">Thank you for purchasing the AI Visibility Optimization package.</p>\n      \n      <div style=\"background:rgba(255,255,255,0.04); border:1px solid rgba(255,255,255,0.08); border-radius:12px; padding:20px; margin-bottom:24px;\">\n        <p style=\"color:rgba(255,255,255,0.5); font-size:13px; margin:0 0 4px;\">Amount paid</p>\n        <p style=\"color:#06b6d4; font-size:28px; font-weight:700; font-family:monospace; margin:0;\">$197.00</p>\n      </div>\n      \n      <h2 style=\"color:#ffffff; font-size:18px; font-weight:600; margin:0 0 12px;\">Next Step: Complete Onboarding</h2>\n      <p style=\"color:rgba(255,255,255,0.6); font-size:14px; line-height:1.6; margin:0 0 24px;\">Fill out a quick 2-minute form so we can start optimizing your AI visibility. The sooner you complete it, the sooner we get to work.</p>\n      \n      <a href=\"{{ $env.SITE_URL || 'https://upwork-proposal-1.vercel.app' }}/onboarding\" style=\"display:inline-block; background:linear-gradient(135deg,#3b82f6,#06b6d4); color:#ffffff; text-decoration:none; font-weight:600; font-size:15px; padding:14px 32px; border-radius:12px;\">Complete Onboarding →</a>\n      \n      <p style=\"color:rgba(255,255,255,0.4); font-size:12px; margin:24px 0 0;\">If you have questions, reply to this email or contact us at hello@aixcelsolutions.com</p>\n    </div>\n    <p style=\"color:rgba(255,255,255,0.3); font-size:11px; text-align:center; margin-top:16px;\">AiXCEL Solutions — AI Automation & Visibility</p>\n  </div>\n</body>\n</html>","options":{}},"id":"send-email","name":"Send Onboarding Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2000,220],"credentials":{"smtp":{"id":"SMTP_CREDENTIAL_ID","name":"SMTP"}}},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/audit_log","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"customer_id\": \"{{ $('Validate Payload').item.json.customer_id }}\",\n  \"event_type\": \"payment_processed\",\n  \"status_from\": \"paid\",\n  \"status_to\": \"onboarding_sent\",\n  \"details\": {{ JSON.stringify({ email: $('Validate Payload').item.json.email, amount: $('Validate Payload').item.json.amount, email_sent: true }) }},\n  \"workflow_name\": \"payment-handler\"\n}","options":{"response":{"response":{"neverError":true}}}},"id":"log-success","name":"Log: Payment Processed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2220,220]},{"parameters":{"fromEmail":"={{ $env.FROM_EMAIL || 'hello@aixcelsolutions.com' }}","toEmail":"={{ $env.ADMIN_EMAIL || 'ahmadbukhari4245@gmail.com' }}","subject":"💰 New Payment: {{ $('Validate Payload').item.json.email }} — ${{ Math.round(($('Validate Payload').item.json.amount || 0) / 100) }}","emailType":"html","html":"<!DOCTYPE html>\n<html>\n<body style=\"font-family:-apple-system,sans-serif; padding:20px; background:#f9fafb;\">\n  <div style=\"max-width:500px; margin:0 auto; background:#fff; border-radius:12px; padding:24px; border:1px solid #e5e7eb;\">\n    <h2 style=\"margin:0 0 16px; color:#111;\">New Payment Received</h2>\n    <table style=\"width:100%; border-collapse:collapse;\">\n      <tr><td style=\"padding:8px 0; color:#6b7280; border-bottom:1px solid #f3f4f6;\">Email</td><td style=\"padding:8px 0; font-weight:600; border-bottom:1px solid #f3f4f6;\">{{ $('Validate Payload').item.json.email }}</td></tr>\n      <tr><td style=\"padding:8px 0; color:#6b7280; border-bottom:1px solid #f3f4f6;\">Amount</td><td style=\"padding:8px 0; font-weight:600; color:#059669; border-bottom:1px solid #f3f4f6;\">${{ Math.round(($('Validate Payload').item.json.amount || 0) / 100) }}</td></tr>\n      <tr><td style=\"padding:8px 0; color:#6b7280; border-bottom:1px solid #f3f4f6;\">Customer ID</td><td style=\"padding:8px 0; font-family:monospace; font-size:12px; border-bottom:1px solid #f3f4f6;\">{{ $('Validate Payload').item.json.customer_id }}</td></tr>\n      <tr><td style=\"padding:8px 0; color:#6b7280; border-bottom:1px solid #f3f4f6;\">Status</td><td style=\"padding:8px 0;\"><span style=\"background:#dbeafe; color:#1d4ed8; padding:2px 8px; border-radius:4px; font-size:12px;\">onboarding_sent</span></td></tr>\n      <tr><td style=\"padding:8px 0; color:#6b7280;\">Time</td><td style=\"padding:8px 0; font-size:13px;\">{{ $('Validate Payload').item.json.received_at }}</td></tr>\n    </table>\n    <p style=\"margin:16px 0 0; color:#6b7280; font-size:13px;\">Onboarding email has been sent. Awaiting customer response.</p>\n  </div>\n</body>\n</html>","options":{}},"id":"notify-admin-payment","name":"Notify Admin: New Payment","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2000,380],"credentials":{"smtp":{"id":"SMTP_CREDENTIAL_ID","name":"SMTP"}}},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/audit_log","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"customer_id\": \"{{ $('Validate Payload').item.json.customer_id || 'unknown' }}\",\n  \"event_type\": \"validation_failed\",\n  \"details\": {{ JSON.stringify({ errors: $('Validate Payload').item.json.validation_errors, raw_email: $('Validate Payload').item.json.email }) }},\n  \"workflow_name\": \"payment-handler\"\n}","options":{"response":{"response":{"neverError":true}}}},"id":"log-validation-fail","name":"Log: Validation Failed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[900,560]},{"parameters":{"fromEmail":"={{ $env.FROM_EMAIL || 'hello@aixcelsolutions.com' }}","toEmail":"={{ $env.ADMIN_EMAIL || 'ahmadbukhari4245@gmail.com' }}","subject":"⚠️ Payment Webhook Validation Failed","emailType":"html","html":"<!DOCTYPE html>\n<html>\n<body style=\"font-family:-apple-system,sans-serif; padding:20px;\">\n  <div style=\"max-width:500px; margin:0 auto; background:#fff; border-radius:12px; padding:24px; border:2px solid #fbbf24;\">\n    <h2 style=\"color:#92400e; margin:0 0 12px;\">⚠️ Payment Webhook Validation Failed</h2>\n    <p><strong>Errors:</strong></p>\n    <pre style=\"background:#fef3c7; padding:12px; border-radius:8px; font-size:13px;\">{{ $('Validate Payload').item.json.validation_errors.join('\\n') }}</pre>\n    <p><strong>Email:</strong> {{ $('Validate Payload').item.json.email || 'N/A' }}</p>\n    <p><strong>Customer ID:</strong> {{ $('Validate Payload').item.json.customer_id || 'N/A' }}</p>\n    <p><strong>Time:</strong> {{ $('Validate Payload').item.json.received_at }}</p>\n    <p style=\"color:#6b7280; font-size:12px;\">Check n8n execution logs for full details.</p>\n  </div>\n</body>\n</html>","options":{}},"id":"alert-validation-fail","name":"Alert Admin: Validation Failed","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[1120,560],"credentials":{"smtp":{"id":"SMTP_CREDENTIAL_ID","name":"SMTP"}}},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/audit_log","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"customer_id\": \"{{ $('Validate Payload').item.json.customer_id }}\",\n  \"event_type\": \"duplicate_payment_skipped\",\n  \"details\": {{ JSON.stringify({ email: $('Check Customer & Duplicates').item.json.email, current_status: $('Check Customer & Duplicates').item.json.current_status, customer_found: $('Check Customer & Duplicates').item.json.customer_found }) }},\n  \"workflow_name\": \"payment-handler\"\n}","options":{"response":{"response":{"neverError":true}}}},"id":"log-duplicate","name":"Log: Duplicate/Not Found","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1560,480]},{"parameters":{"method":"POST","url":"={{ $env.SUPABASE_URL }}/rest/v1/audit_log","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=minimal"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"customer_id\": \"{{ $('Validate Payload').item.json.customer_id }}\",\n  \"event_type\": \"status_update_failed\",\n  \"details\": {{ JSON.stringify({ email: $('Validate Payload').item.json.email, attempted_status: 'onboarding_sent', http_response: $json }) }},\n  \"workflow_name\": \"payment-handler\"\n}","options":{"response":{"response":{"neverError":true}}}},"id":"log-update-fail","name":"Log: Status Update Failed","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2000,520]},{"parameters":{"fromEmail":"={{ $env.FROM_EMAIL || 'hello@aixcelsolutions.com' }}","toEmail":"={{ $env.ADMIN_EMAIL || 'ahmadbukhari4245@gmail.com' }}","subject":"🚨 DB Update Failed for {{ $('Validate Payload').item.json.email }}","emailType":"html","html":"<!DOCTYPE html>\n<html>\n<body style=\"font-family:-apple-system,sans-serif; padding:20px;\">\n  <div style=\"max-width:500px; margin:0 auto; background:#fff; border-radius:12px; padding:24px; border:2px solid #ef4444;\">\n    <h2 style=\"color:#991b1b; margin:0 0 12px;\">🚨 Database Update Failed</h2>\n    <p>Failed to update customer status to <code>onboarding_sent</code>.</p>\n    <p><strong>Email:</strong> {{ $('Validate Payload').item.json.email }}</p>\n    <p><strong>Customer ID:</strong> {{ $('Validate Payload').item.json.customer_id }}</p>\n    <p style=\"color:#6b7280; font-size:12px;\">Manual intervention may be required. Check Supabase and n8n execution logs.</p>\n  </div>\n</body>\n</html>","options":{}},"id":"alert-update-fail","name":"Alert Admin: Update Failed","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2220,520],"credentials":{"smtp":{"id":"SMTP_CREDENTIAL_ID","name":"SMTP"}}}],"connections":{"Payment Webhook":{"main":[[{"node":"Validate Payload","type":"main","index":0}]]},"Validate Payload":{"main":[[{"node":"Is Valid?","type":"main","index":0}]]},"Is Valid?":{"main":[[{"node":"Get Customer from DB","type":"main","index":0}],[{"node":"Log: Validation Failed","type":"main","index":0}]]},"Get Customer from DB":{"main":[[{"node":"Check Customer & Duplicates","type":"main","index":0}]]},"Check Customer & Duplicates":{"main":[[{"node":"Can Proceed?","type":"main","index":0}]]},"Can Proceed?":{"main":[[{"node":"Update Status → onboarding_sent","type":"main","index":0}],[{"node":"Log: Duplicate/Not Found","type":"main","index":0}]]},"Update Status → onboarding_sent":{"main":[[{"node":"Update OK?","type":"main","index":0}]]},"Update OK?":{"main":[[{"node":"Send Onboarding Email","type":"main","index":0},{"node":"Notify Admin: New Payment","type":"main","index":0}],[{"node":"Log: Status Update Failed","type":"main","index":0}]]},"Send Onboarding Email":{"main":[[{"node":"Log: Payment Processed","type":"main","index":0}]]},"Log: Validation Failed":{"main":[[{"node":"Alert Admin: Validation Failed","type":"main","index":0}]]},"Log: Status Update Failed":{"main":[[{"node":"Alert Admin: Update Failed","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"active":false,"versionId":"415defa3-d97a-4070-b5b5-72689c39f1e6","id":"Zo02z3ytQh8xycPX","description":null,"staticData":null,"meta":null,"pinData":null,"activeVersionId":null,"updatedAt":"2026-02-16T20:37:20.116Z","createdAt":"2026-02-16T20:37:20.116Z","isArchived":false,"versionCounter":1,"triggerCount":0}