n8n/_tmp_onboarding.json
{"name":"AiXCEL - Onboarding Complete Handler","nodes":[{"parameters":{"httpMethod":"POST","path":"aixcel-onboarding-complete","responseMode":"onReceived","options":{}},"id":"webhook-onboarding","name":"Onboarding Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[240,300],"webhookId":"aixcel-onboarding-complete"},{"parameters":{"method":"PATCH","url":"={{ $env.SUPABASE_URL }}/rest/v1/customers","sendQuery":true,"queryParameters":{"parameters":[{"name":"id","value":"eq.{{ $json.body.customer_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Authorization","value":"Bearer {{ $env.SUPABASE_SERVICE_KEY }}"},{"name":"Content-Type","value":"application/json"},{"name":"Prefer","value":"return=representation"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"status\": \"ready_for_optimization\"\n}","options":{}},"id":"update-ready","name":"Update Status to ready_for_optimization","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,300]},{"parameters":{"fromEmail":"={{ $env.FROM_EMAIL || 'hello@aixcelsolutions.com' }}","toEmail":"={{ $('Onboarding Webhook').item.json.body.email }}","subject":"Onboarding Complete — We're Starting Your Optimization","emailType":"html","html":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin:0; padding:0; background-color:#0a0a0f; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;\">\n  <div style=\"max-width:560px; margin:0 auto; padding:40px 20px;\">\n    <div style=\"background:linear-gradient(180deg, rgba(16,185,129,0.1) 0%, rgba(6,182,212,0.05) 100%); border:1px solid rgba(255,255,255,0.1); border-radius:16px; padding:40px;\">\n      <h1 style=\"color:#ffffff; font-size:28px; font-weight:700; margin:0 0 8px;\">We're On It! 🚀</h1>\n      <p style=\"color:rgba(255,255,255,0.6); font-size:15px; line-height:1.6; margin:0 0 24px;\">Your onboarding is complete. Our team is now starting your AI visibility optimization.</p>\n      \n      <div style=\"background:rgba(255,255,255,0.04); border:1px solid rgba(255,255,255,0.08); border-radius:12px; padding:20px; margin-bottom:24px;\">\n        <p style=\"color:rgba(255,255,255,0.5); font-size:13px; margin:0 0 8px;\">What we received:</p>\n        <p style=\"color:#ffffff; font-size:14px; margin:0;\">Website: {{ $('Onboarding Webhook').item.json.body.website }}</p>\n        <p style=\"color:#ffffff; font-size:14px; margin:4px 0 0;\">Services: {{ $('Onboarding Webhook').item.json.body.services }}</p>\n        <p style=\"color:#ffffff; font-size:14px; margin:4px 0 0;\">City: {{ $('Onboarding Webhook').item.json.body.city }}</p>\n      </div>\n      \n      <h2 style=\"color:#ffffff; font-size:18px; font-weight:600; margin:0 0 12px;\">What Happens Next</h2>\n      <div style=\"color:rgba(255,255,255,0.6); font-size:14px; line-height:1.8;\">\n        <p style=\"margin:0;\">1. We audit your current AI visibility (1-2 days)</p>\n        <p style=\"margin:0;\">2. We implement optimizations (3-5 days)</p>\n        <p style=\"margin:0;\">3. We submit to AI search engines (1-2 days)</p>\n        <p style=\"margin:0;\">4. You receive your full report (2-3 weeks total)</p>\n      </div>\n      \n      <p style=\"color:rgba(255,255,255,0.4); font-size:12px; margin:24px 0 0;\">We'll keep you updated at each step. Reply to this email if you have questions.</p>\n    </div>\n    <p style=\"color:rgba(255,255,255,0.3); font-size:11px; text-align:center; margin-top:16px;\">AiXCEL Solutions — AI Automation & Visibility</p>\n  </div>\n</body>\n</html>","options":{}},"id":"send-confirmation","name":"Send Confirmation Email","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[720,300],"credentials":{"smtp":{"id":"SMTP_CREDENTIAL_ID","name":"SMTP"}}},{"parameters":{"fromEmail":"={{ $env.FROM_EMAIL || 'hello@aixcelsolutions.com' }}","toEmail":"={{ $env.ADMIN_EMAIL || 'ahmadbukhari4245@gmail.com' }}","subject":"🔔 New Customer Ready for Optimization: {{ $('Onboarding Webhook').item.json.body.website }}","emailType":"html","html":"<!DOCTYPE html>\n<html>\n<body style=\"font-family:-apple-system,sans-serif; padding:20px;\">\n  <h2>New Customer Ready</h2>\n  <p><strong>Email:</strong> {{ $('Onboarding Webhook').item.json.body.email }}</p>\n  <p><strong>Website:</strong> {{ $('Onboarding Webhook').item.json.body.website }}</p>\n  <p><strong>Services:</strong> {{ $('Onboarding Webhook').item.json.body.services }}</p>\n  <p><strong>City:</strong> {{ $('Onboarding Webhook').item.json.body.city }}</p>\n  <p><strong>Competitors:</strong> {{ $('Onboarding Webhook').item.json.body.competitors || 'None provided' }}</p>\n  <p><strong>Customer ID:</strong> {{ $('Onboarding Webhook').item.json.body.customer_id }}</p>\n  <p><strong>Time:</strong> {{ $('Onboarding Webhook').item.json.body.timestamp }}</p>\n</body>\n</html>","options":{}},"id":"notify-admin","name":"Notify Admin","type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[720,520],"credentials":{"smtp":{"id":"SMTP_CREDENTIAL_ID","name":"SMTP"}}}],"connections":{"Onboarding Webhook":{"main":[[{"node":"Update Status to ready_for_optimization","type":"main","index":0}]]},"Update Status to ready_for_optimization":{"main":[[{"node":"Send Confirmation Email","type":"main","index":0},{"node":"Notify Admin","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"}}