n8n/workflow-payment-handler.json
{
  "name": "AiXCEL - Payment Success Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aixcel-payment-success",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-payment",
      "name": "Payment Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "aixcel-payment-success"
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/customers",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "eq.{{ $json.body.customer_id }}"
            },
            {
              "name": "select",
              "value": "*"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {}
      },
      "id": "get-customer",
      "name": "Get Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/customers",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "eq.{{ $('Payment Webhook').item.json.body.customer_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"onboarding_sent\"\n}",
        "options": {}
      },
      "id": "update-status",
      "name": "Update Status to onboarding_sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.FROM_EMAIL || 'hello@aixcelsolutions.com' }}",
        "toEmail": "={{ $('Payment Webhook').item.json.body.email }}",
        "subject": "Welcome to AiXCEL — Complete Your Onboarding",
        "emailType": "html",
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n</head>\n<body style=\"margin:0; padding:0; background-color:#0a0a0f; font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,sans-serif;\">\n  <div style=\"max-width:560px; margin:0 auto; padding:40px 20px;\">\n    <div style=\"background:linear-gradient(180deg, rgba(59,130,246,0.1) 0%, rgba(6,182,212,0.05) 100%); border:1px solid rgba(255,255,255,0.1); border-radius:16px; padding:40px;\">\n      <h1 style=\"color:#ffffff; font-size:28px; font-weight:700; margin:0 0 8px;\">Payment Received! ✓</h1>\n      <p style=\"color:rgba(255,255,255,0.6); font-size:15px; line-height:1.6; margin:0 0 24px;\">Thank you for purchasing the AI Visibility Optimization package.</p>\n      \n      <div style=\"background:rgba(255,255,255,0.04); border:1px solid rgba(255,255,255,0.08); border-radius:12px; padding:20px; margin-bottom:24px;\">\n        <p style=\"color:rgba(255,255,255,0.5); font-size:13px; margin:0 0 4px;\">Amount paid</p>\n        <p style=\"color:#06b6d4; font-size:28px; font-weight:700; font-family:monospace; margin:0;\">$197.00</p>\n      </div>\n      \n      <h2 style=\"color:#ffffff; font-size:18px; font-weight:600; margin:0 0 12px;\">Next Step: Complete Onboarding</h2>\n      <p style=\"color:rgba(255,255,255,0.6); font-size:14px; line-height:1.6; margin:0 0 24px;\">Fill out a quick 2-minute form so we can start optimizing your AI visibility. The sooner you complete it, the sooner we get to work.</p>\n      \n      <a href=\"{{ $env.SITE_URL || 'https://aixcelsolutions.com' }}/onboarding\" style=\"display:inline-block; background:linear-gradient(135deg,#3b82f6,#06b6d4); color:#ffffff; text-decoration:none; font-weight:600; font-size:15px; padding:14px 32px; border-radius:12px;\">Complete Onboarding →</a>\n      \n      <p style=\"color:rgba(255,255,255,0.4); font-size:12px; margin:24px 0 0;\">If you have questions, reply to this email or contact us at hello@aixcelsolutions.com</p>\n    </div>\n    <p style=\"color:rgba(255,255,255,0.3); font-size:11px; text-align:center; margin-top:16px;\">AiXCEL Solutions — AI Automation & Visibility</p>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Onboarding Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 300],
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP"
        }
      }
    }
  ],
  "connections": {
    "Payment Webhook": {
      "main": [
        [
          {
            "node": "Get Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer": {
      "main": [
        [
          {
            "node": "Update Status to onboarding_sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to onboarding_sent": {
      "main": [
        [
          {
            "node": "Send Onboarding Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "aixcel-revenue"
    }
  ]
}
