n8n/workflow-status-tracker.json
{
  "name": "Upwork WF1 - Daily Status Tracker & Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "daily-trigger",
      "name": "Daily at 9 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/customers",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,email,status,website,services,city,amount_paid,created_at,updated_at,onboarding_completed_at"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-all-customers",
      "name": "Fetch All Customers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/audit_log",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "id,customer_id,event_type,status_from,status_to,details,workflow_name,created_at"
            },
            {
              "name": "created_at",
              "value": "gte.{{ new Date(Date.now() - 86400000).toISOString() }}"
            },
            {
              "name": "order",
              "value": "created_at.desc"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "fetch-audit-log",
      "name": "Fetch Last 24h Audit Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 600]
    },
    {
      "parameters": {
        "jsCode": "// Build comprehensive daily report\nconst customers = $('Fetch All Customers').first().json;\nconst auditLog = $('Fetch Last 24h Audit Log').first().json;\n\nconst allCustomers = Array.isArray(customers) ? customers : [];\nconst allEvents = Array.isArray(auditLog) ? auditLog : [];\n\nconst now = new Date();\nconst today = now.toISOString().split('T')[0];\n\n// Status breakdown\nconst statusCounts = { paid: 0, onboarding_sent: 0, onboarding_completed: 0, ready_for_optimization: 0 };\nconst stuckCustomers = []; // paid or onboarding_sent for > 48h\nconst recentPayments = []; // last 24h\n\nfor (const c of allCustomers) {\n  statusCounts[c.status] = (statusCounts[c.status] || 0) + 1;\n  \n  const hoursSinceCreated = (now - new Date(c.created_at)) / (1000 * 60 * 60);\n  \n  if (['paid', 'onboarding_sent'].includes(c.status) && hoursSinceCreated > 48) {\n    stuckCustomers.push({\n      email: c.email,\n      status: c.status,\n      hours_stuck: Math.round(hoursSinceCreated),\n      created_at: c.created_at\n    });\n  }\n  \n  if (hoursSinceCreated <= 24) {\n    recentPayments.push({\n      email: c.email,\n      amount: c.amount_paid,\n      status: c.status\n    });\n  }\n}\n\n// Event type breakdown\nconst eventCounts = {};\nfor (const e of allEvents) {\n  eventCounts[e.event_type] = (eventCounts[e.event_type] || 0) + 1;\n}\n\n// Revenue calculation\nconst totalRevenue = allCustomers.reduce((sum, c) => sum + (c.amount_paid || 0), 0);\nconst last24hRevenue = recentPayments.reduce((sum, c) => sum + (c.amount || 0), 0);\n\nreturn [{\n  json: {\n    report_date: today,\n    total_customers: allCustomers.length,\n    status_breakdown: statusCounts,\n    total_revenue_cents: totalRevenue,\n    last_24h_revenue_cents: last24hRevenue,\n    recent_payments: recentPayments,\n    stuck_customers: stuckCustomers,\n    stuck_count: stuckCustomers.length,\n    last_24h_events: eventCounts,\n    total_events_24h: allEvents.length,\n    has_issues: stuckCustomers.length > 0 || Object.keys(eventCounts).some(k => k.includes('failed'))\n  }\n}];"
      },
      "id": "build-report",
      "name": "Build Daily Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 500]
    },
    {
      "parameters": {
        "jsCode": "// Generate HTML email report\nconst r = $input.first().json;\n\nconst statusBadge = (status) => {\n  const colors = {\n    paid: '#dbeafe;color:#1d4ed8',\n    onboarding_sent: '#fef3c7;color:#92400e',\n    onboarding_completed: '#d1fae5;color:#065f46',\n    ready_for_optimization: '#d1fae5;color:#065f46'\n  };\n  return `<span style=\"background:${colors[status] || '#f3f4f6;color:#374151'}; padding:2px 8px; border-radius:4px; font-size:12px;\">${status}</span>`;\n};\n\nlet stuckHtml = '';\nif (r.stuck_customers.length > 0) {\n  stuckHtml = r.stuck_customers.map(c => \n    `<tr><td style=\"padding:6px 8px; border-bottom:1px solid #f3f4f6;\">${c.email}</td><td style=\"padding:6px 8px; border-bottom:1px solid #f3f4f6;\">${statusBadge(c.status)}</td><td style=\"padding:6px 8px; border-bottom:1px solid #f3f4f6;\">${c.hours_stuck}h</td></tr>`\n  ).join('');\n  stuckHtml = `<h3 style=\"color:#991b1b; margin:20px 0 8px;\">⚠️ Stuck Customers (${r.stuck_count})</h3><table style=\"width:100%; border-collapse:collapse;\"><tr style=\"background:#f9fafb;\"><th style=\"text-align:left; padding:8px;\">Email</th><th style=\"text-align:left; padding:8px;\">Status</th><th style=\"text-align:left; padding:8px;\">Hours</th></tr>${stuckHtml}</table>`;\n}\n\nlet recentHtml = '';\nif (r.recent_payments.length > 0) {\n  recentHtml = r.recent_payments.map(c => \n    `<tr><td style=\"padding:6px 8px; border-bottom:1px solid #f3f4f6;\">${c.email}</td><td style=\"padding:6px 8px; border-bottom:1px solid #f3f4f6;\">$${Math.round((c.amount || 0) / 100)}</td><td style=\"padding:6px 8px; border-bottom:1px solid #f3f4f6;\">${statusBadge(c.status)}</td></tr>`\n  ).join('');\n  recentHtml = `<h3 style=\"color:#065f46; margin:20px 0 8px;\">💰 New Payments (Last 24h)</h3><table style=\"width:100%; border-collapse:collapse;\"><tr style=\"background:#f9fafb;\"><th style=\"text-align:left; padding:8px;\">Email</th><th style=\"text-align:left; padding:8px;\">Amount</th><th style=\"text-align:left; padding:8px;\">Status</th></tr>${recentHtml}</table>`;\n}\n\nlet eventsHtml = '';\nif (Object.keys(r.last_24h_events).length > 0) {\n  eventsHtml = Object.entries(r.last_24h_events).map(([type, count]) => \n    `<tr><td style=\"padding:6px 8px; border-bottom:1px solid #f3f4f6; font-family:monospace; font-size:12px;\">${type}</td><td style=\"padding:6px 8px; border-bottom:1px solid #f3f4f6; text-align:right;\">${count}</td></tr>`\n  ).join('');\n  eventsHtml = `<h3 style=\"margin:20px 0 8px;\">📊 Events (Last 24h): ${r.total_events_24h} total</h3><table style=\"width:100%; border-collapse:collapse;\"><tr style=\"background:#f9fafb;\"><th style=\"text-align:left; padding:8px;\">Event Type</th><th style=\"text-align:right; padding:8px;\">Count</th></tr>${eventsHtml}</table>`;\n}\n\nconst issuesBanner = r.has_issues \n  ? '<div style=\"background:#fef2f2; border:1px solid #fecaca; border-radius:8px; padding:12px; margin-bottom:16px;\"><strong style=\"color:#991b1b;\">⚠️ Issues detected — review stuck customers below</strong></div>'\n  : '<div style=\"background:#f0fdf4; border:1px solid #bbf7d0; border-radius:8px; padding:12px; margin-bottom:16px;\"><strong style=\"color:#166534;\">✅ All systems normal — no issues</strong></div>';\n\nconst html = `<!DOCTYPE html>\n<html>\n<body style=\"font-family:-apple-system,sans-serif; padding:20px; background:#f9fafb;\">\n  <div style=\"max-width:600px; margin:0 auto; background:#fff; border-radius:12px; padding:24px; border:1px solid #e5e7eb;\">\n    <h1 style=\"margin:0 0 4px; font-size:22px;\">📈 Daily Pipeline Report</h1>\n    <p style=\"color:#6b7280; margin:0 0 20px; font-size:14px;\">${r.report_date}</p>\n    \n    ${issuesBanner}\n    \n    <div style=\"display:grid; grid-template-columns:1fr 1fr; gap:12px; margin-bottom:20px;\">\n      <div style=\"background:#f0f9ff; border-radius:8px; padding:16px; text-align:center;\">\n        <p style=\"margin:0; color:#6b7280; font-size:12px;\">Total Customers</p>\n        <p style=\"margin:4px 0 0; font-size:28px; font-weight:700; color:#1d4ed8;\">${r.total_customers}</p>\n      </div>\n      <div style=\"background:#f0fdf4; border-radius:8px; padding:16px; text-align:center;\">\n        <p style=\"margin:0; color:#6b7280; font-size:12px;\">Total Revenue</p>\n        <p style=\"margin:4px 0 0; font-size:28px; font-weight:700; color:#059669;\">$${Math.round(r.total_revenue_cents / 100)}</p>\n      </div>\n    </div>\n    \n    <h3 style=\"margin:20px 0 8px;\">Pipeline Status</h3>\n    <table style=\"width:100%; border-collapse:collapse;\">\n      <tr><td style=\"padding:6px 8px; border-bottom:1px solid #f3f4f6;\">Paid (awaiting onboarding)</td><td style=\"padding:6px 8px; text-align:right; font-weight:600; border-bottom:1px solid #f3f4f6;\">${r.status_breakdown.paid || 0}</td></tr>\n      <tr><td style=\"padding:6px 8px; border-bottom:1px solid #f3f4f6;\">Onboarding Sent</td><td style=\"padding:6px 8px; text-align:right; font-weight:600; border-bottom:1px solid #f3f4f6;\">${r.status_breakdown.onboarding_sent || 0}</td></tr>\n      <tr><td style=\"padding:6px 8px; border-bottom:1px solid #f3f4f6;\">Onboarding Completed</td><td style=\"padding:6px 8px; text-align:right; font-weight:600; border-bottom:1px solid #f3f4f6;\">${r.status_breakdown.onboarding_completed || 0}</td></tr>\n      <tr><td style=\"padding:6px 8px; border-bottom:1px solid #f3f4f6;\">Ready for Optimization</td><td style=\"padding:6px 8px; text-align:right; font-weight:600; border-bottom:1px solid #f3f4f6;\">${r.status_breakdown.ready_for_optimization || 0}</td></tr>\n    </table>\n    \n    ${recentHtml}\n    ${stuckHtml}\n    ${eventsHtml}\n    \n    <p style=\"color:#9ca3af; font-size:11px; margin:24px 0 0; text-align:center;\">Auto-generated by Upwork WF1 Status Tracker</p>\n  </div>\n</body>\n</html>`;\n\nreturn [{ json: { ...r, email_html: html } }];"
      },
      "id": "generate-html",
      "name": "Generate Report HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 500]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.FROM_EMAIL || 'hello@aixcelsolutions.com' }}",
        "toEmail": "={{ $env.ADMIN_EMAIL || 'ahmadbukhari4245@gmail.com' }}",
        "subject": "={{ $json.has_issues ? '⚠️' : '📈' }} Daily Report: {{ $json.total_customers }} customers, ${{ Math.round($json.total_revenue_cents / 100) }} revenue ({{ $json.report_date }})",
        "emailType": "html",
        "html": "={{ $json.email_html }}",
        "options": {}
      },
      "id": "send-report",
      "name": "Send Daily Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1200, 500],
      "credentials": {
        "smtp": {
          "id": "SMTP_CREDENTIAL_ID",
          "name": "SMTP"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/audit_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"event_type\": \"daily_report_sent\",\n  \"details\": {{ JSON.stringify({ total_customers: $json.total_customers, total_revenue: $json.total_revenue_cents, stuck_count: $json.stuck_count, events_24h: $json.total_events_24h, has_issues: $json.has_issues }) }},\n  \"workflow_name\": \"status-tracker\"\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "log-report",
      "name": "Log: Report Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1440, 500]
    }
  ],
  "connections": {
    "Daily at 9 AM": {
      "main": [
        [
          {
            "node": "Fetch All Customers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Last 24h Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Customers": {
      "main": [
        [
          {
            "node": "Build Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Last 24h Audit Log": {
      "main": [
        [
          {
            "node": "Build Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Daily Report": {
      "main": [
        [
          {
            "node": "Generate Report HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Report HTML": {
      "main": [
        [
          {
            "node": "Send Daily Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Daily Report": {
      "main": [
        [
          {
            "node": "Log: Report Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}